{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block head %}
  {{ super() }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.bundle.min.css">
{% endblock %}

{% block content %}
  <h1 class="text-5xl font-bold mb-8 text-primary">Calendar</h1>

  <div id="calendar"></div>
  <a class="bg-primary hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
            href="{{ url_for('index') }}">Back</a>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/tooltipster.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [
          {% for opportunity in opportunities %}
            {
              title: "{{ opportunity[1] }}",
              start: "{{ opportunity[5] }}",
              description: "{{ opportunity[3] | striptags | trim | truncate(10, true) }}", // Truncate to 10 characters
              url: "{{ url_for('view_opportunity', opportunity_id=opportunity[0]) }}"
            },
          {% endfor %}
        ],
        eventClick: function(info) {
          info.jsEvent.preventDefault();
          if (info.event.url) {
            window.open(info.event.url, "_blank");
          }
        },
        eventDidMount: function(info) {
          $(info.el).tooltipster({
            content: info.event.extendedProps.description,
            functionBefore: function(instance, helper) {
              var content = instance.content();
              instance.content(content.substring(0, 10) + (content.length > 10 ? '...' : ''));
            },
            delay: 200,
            trigger: 'hover',
            theme: 'tooltipster-shadow'
          });
        }
      });

      calendar.render();
    });
  </script>
{% endblock %}
