{% extends "base.html" %}

{% block title %}Select County{% endblock %}

{% block content %}
<!-- <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg mx-auto mt-4"> -->
    <h2 class="text-3xl font-bold mb-6 text-center text-green-600">Which county do you want to see events for?</h2>

    <form method="post" class="space-y-6">
        {{ form.hidden_tag() }}
        <div>
            <div class="flex items-center mb-2">
                <!-- <input type="checkbox" id="select_all" class="form-checkbox text-green-500 mr-2">
                <label for="select_all" class="text-gray-700">Select All</label> -->
            </div>
            <div class="grid grid-cols-1 gap-2">
                {% for subfield in form.city %}
                <label class="inline-flex items-center">
                    {{ subfield(class='form-checkbox text-green-500') }}
                    <span class="ml-2">{{ subfield.label.text }}</span>
                </label>
                {% endfor %}
            </div>
        </div>
        <div>
            <input type="submit" value="Submit"
                class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    // // Function to update Select All checkbox based on individual checkboxes
    // function updateSelectAll() {
    //     var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    //     var allChecked = true;
    //     checkboxes.forEach(function (checkbox) {
    //         if (checkbox !== selectAllCheckbox && !checkbox.checked) {
    //             allChecked = false;
    //         }
    //     });
    //     selectAllCheckbox.checked = allChecked;
    // }

    // var selectAllCheckbox = document.getElementById('select_all');
    // selectAllCheckbox.onclick = function () {
    //     var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    //     checkboxes.forEach(function (checkbox) {
    //         checkbox.checked = selectAllCheckbox.checked;
    //     });
    // }

    // var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    // checkboxes.forEach(function (checkbox) {
    //     if (checkbox !== selectAllCheckbox) {
    //         checkbox.onclick = updateSelectAll;
    //     }
    // });

    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    var form = document.querySelector('form');

    // Submit handler to select all checkboxes if none are explicitly chosen
    form.onsubmit = function () {
        var anyChecked = false;

        checkboxes.forEach(function (cb) {
            if (cb.checked) {
                anyChecked = true;
            }
        });

        if (!anyChecked) {
            checkboxes.forEach(function (cb) {
                cb.checked = true;
            });
        }
    };
</script>
{% endblock %}
