{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="text-5xl font-bold mb-8 text-primary title-animation">Leaflet</h1>

  {% if current_user.is_authenticated %}
    <p class="text-xl mb-1">Hello, {{ current_user.name }}</p>
    <p class="text-lg mb-4 mt-1">You are viewing events for the following counties: {{ current_user.city or "Santa Clara" }}</p>
    <div class="mt-8 shadow-lg rounded-lg overflow-hidden border border-gray-200 overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-primary text-secondary">
          <tr>
            <th class="py-3 px-4 text-center border border-black">Title</th>
            <th class="py-3 px-4 text-center border border-black">Time</th>
            <th class="py-3 px-4 text-center border border-black">Description</th>
            <th class="py-3 px-4 text-center border border-black">Due Date</th>
            {% if current_user.email in ADMIN_EMAILS %}
              <th class="py-3 px-4 text-center border border-black">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% for opportunity, formatted_date in opportunities_with_dates %}
            {% if not opportunity['hidden'] or (opportunity['hidden'] and current_user.email in ADMIN_EMAILS) %}
              <tr class="hover:bg-accent {% if opportunity['hidden'] or formatted_date > opportunity[5] %}bg-gray-200{% endif %}">
                <td class="py-4 px-4 border border-black">{{ opportunity[1] }}</td>
                <td class="py-4 px-4 border border-black">{{ opportunity[2] }}</td>
                <td class="py-4 px-4 border border-black">
                  {% set raw_description = opportunity[3] | striptags | trim %}
                  {% if raw_description | length > 25 %}
                    {{ raw_description[:25] }}{% if raw_description | length > 25 %} <a class="text-primary" href="{{ url_for('view_opportunity', opportunity_id=opportunity['id']) }}" target="_blank"> ... (click to read more)</a>{% endif %}
                  {% else %}
                    <a class="text-primary" href="{{ url_for('view_opportunity', opportunity_id=opportunity['id']) }}">{{ opportunity[3] | safe }}</a>
                  {% endif %}               
                </td>
                <td class="py-4 px-4 border border-black">{{ formatted_date }}</td>
                {% if current_user.email in ADMIN_EMAILS %}
                  <td class="py-4 px-4 border border-black">
                    <a class="text-primary" href="{{ url_for('edit_opportunity', opportunity_id=opportunity['id']) }}">Edit</a>
                    <br>
                    <a class="text-primary" href="{{ url_for('toggle_opportunity', opportunity_id=opportunity['id']) }}">
                      {{ 'Show' if opportunity['hidden'] else 'Hide' }}
                    </a>
                    <br>
                    <a class="text-primary" href="{{ url_for('remove_opportunity', opportunity_id=opportunity['id']) }}">Remove</a>
                  </td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="space-x-4 mt-8 flex flex-wrap gap-4 justify-center">  
      {% if current_user.email in ADMIN_EMAILS %}
        <a class="bg-primary hover:bg-green-600 text-secondary font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{{ url_for('create_opportunity') }}">Create Opportunity</a>
        <a class="bg-primary hover:bg-green-600 text-secondary font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{{ url_for('view_users') }}">View Users</a>
      {% endif %}

      {% if current_user.email in OWNER_EMAILS %}
        <a class="bg-primary hover:bg-green-600 text-secondary font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{{ url_for('edit_users') }}">Edit Users</a>
      {% endif %}
    </div>
    
  {% else %}
    <a class="bg-primary hover:bg-green-600 text-secondary font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{{ url_for('login') }}">Login with Gmail</a>
  {% endif %}
{% endblock %}
