{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block head %}
  <style>
    /* Override vertical centering
    body {
      align-items: flex-start !important;
    }
    /* Ensure content is left-aligned */
    .content-wrapper {
      text-align: left;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }
    /* Center the Resources header */
    .content-wrapper h1 {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <h1 class="text-3xl text-primary font-bold mb-4">Resources</h1>
    <p class="text-lg mb-4">
      <a href="https://docs.google.com/presentation/d/1tR2IKw2SL2xBKyPb9wE7FILKgPjES8Ntw4B-uHqzntg/edit#slide=id.g2ec848da82e_0_8768" class="text-primary hover:text-accent" target="_blank">
        Public Commenting 3-Step Guide
      </a>
      <br>
      <a href="https://www.santaclaraca.gov/our-city/government/city-clerk/city-council-meetings/about-public-meetings" class="text-primary hover:text-accent" target="_blank">
        Santa Clara Public Commenting Instructions
      </a>
      <br>
      <a href="https://www.smcgov.org/bos/meeting-information-guide" class="text-primary hover:text-accent" target="_blank">
        San Mateo Public Commenting Instructions
      </a>
    </p>
    <p class="text-lg mb-4">
      Join these climate organizations to learn more about their opportunities:
      <ul class="list-disc list-inside text-lg mb-4">
        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9web58PJnhlsyIOdz-Fqz_m34Ofk5VUVQpIMDMFyJPSykrA/viewform" class="text-primary hover:text-accent" target="_blank">
            Elders Climate Action's Norcal Chapter Future Design Committee
          </a>
        </li>
        <li>
          <a href="https://www.baycs.org/" class="text-primary hover:text-accent" target="_blank">
            Bay Area Youth Climate Summit Programs
          </a>
        </li>
        <li>
          <a href="https://www.svyouthclimateaction.org/" class="text-primary hover:text-accent" target="_blank">
            Silicon Valley Youth Climate Action
          </a>
        </li>
        <li>
          <a href="https://www.grassrootsecology.org/youth-stewards" class="text-primary hover:text-accent" target="_blank">
            Grassroots Ecology Program
          </a>
        </li>
      </ul>
    </p>
  </div>
  <!-- <a class="bg-primary hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
       href="{{ url_for('index') }}">Back</a> -->
{% endblock %}
