{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block head %}
  <style>
    .content-wrapper {
      text-align: left;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }
    .content-wrapper h1 {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <h1 class="text-3xl text-primary font-bold mb-4">Resources</h1>
    {% include 'resources_content.html' %}
    {% if current_user.email in ADMIN_EMAILS %}
      <a href="{{ url_for('editor') }}" class="bg-primary hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Edit</a>
    {% endif %}
  </div>
{% endblock %}
