{% extends "base.html" %}
{% block title %}Sign Up for Leaflet{% endblock %}

{% block content %}
    <h1 class="text-5xl font-bold mb-8 text-primary title-animation">Signup to Use Leaflet:</h1>
    <p>
        When you complete the <a class="text-blue-500" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdMVmKMbrQo4c1Z5CWdIomhMwqHak5_raoLpsed-naP8Hn-ew/viewform?usp=sharing">registration form, </a> your email will be registered for Leaflet!
    </p>
    <a class="bg-primary hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
       href="https://docs.google.com/forms/d/e/1FAIpQLSdMVmKMbrQo4c1Z5CWdIomhMwqHak5_raoLpsed-naP8Hn-ew/viewform?usp=sharing" target="_blank">Complete the Signup Form</a>
    <a class="bg-primary hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
       href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}

{% block head %}
  <style>
    /* Optional: Hide the navigation bar */
    nav {
      display: none;
    }
  </style>
{% endblock %}
