<!-- users.html -->

{% extends "base.html" %}

{% block title %}
  Users List - Your App Name
{% endblock %}

{% block content %}
  <h1 class="text-5xl font-bold mb-8 text-primary">Users</h1>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr class="bg-primary">
          <th class="px-6 py-3 border-b-2 border-gray-200 text-sm leading-4 font-medium text-secondary uppercase tracking-wider">Name</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 text-sm leading-4 font-medium text-secondary uppercase tracking-wider">Email</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 text-sm leading-4 font-medium text-secondary uppercase tracking-wider">County</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{ user['name'] }}</td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{ user['email'] }}</td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{ user['city'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- <a class="bg-primary hover:bg-green-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
            href="{{ url_for('index') }}">Back</a> -->
{% endblock %}
